.swiper {
    width: 300px;
    height: 300px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.swiper-wrapper {
    align-items: center;
}

.ast-container {
    max-width: 1300px;
}

@media only screen and (max-width: 1300px) {
    .swiper {
        width: 200px;
    }
}

@media only screen and (max-width: 928px) {
    .swiper {
        width: auto;
    }
}